// http://colorschemedesigner.com/csd-3.5/#0611Tr-w0ix--

coquelicot     = #ff3f20
copper-red     = #9f5448
crimson-red    = #791404
coral-pink     = #ff9f90
accented-white = #ffece9

background-colour = accented-white
title-text-colour = black

text-colour         = black

link-colour         = lighten(crimson-red, 20%)
visited-link-colour = crimson-red

table-header-colour       = copper-red
table-header-background   = transparent
table-border-colour       = copper-red
table-row-odd-background  = lighten(coral-pink, 50%)
