main-font       = "Lucida Grande"
fallback-font   = "Arial"
fallback-family = sans-serif

font-family     = main-font, fallback-font, fallback-family

font-size    = 14px
heading-size = font-size * 1.2

main-font-definition = font-size font-family
