@require "./colours.styl"
@require "./typography.styl"

html, body
  font main-font-definition
  background-color background-colour
  color text-colour

a
  color link-colour
  text-decoration none

  &:visited
    color visited-link-colour
